header {
  padding: 3rem 9rem;
  height: 5rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

header a .logo_img {
  width: 200px;
  animation: flicker 2s infinite;
  filter: drop-shadow(0 0 10px #00ffff);
}

header .logo_img_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

header .nav_links {
  font-size: 18px;
  font-weight: 500;
  margin: 0 20px;
  color: rgb(148, 148, 148);
}

header .nav_links:hover {
  color: rgb(233, 233, 233);
}

header .resume_button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 3px;
  padding: 12px 24px;
  border: 0;
  color: #fff;
  background: #000a47;
  line-height: 1.15;
  font-size: 16px;
}

header .resume_button:hover {
  transition: all 0.1s ease;
  box-shadow:
    0 0 0 0 #fff,
    0 0 0 3px #1de9b6;
}

@keyframes flicker {
  0%, 18%, 22%, 25%, 53%, 57%, 100% {
    opacity: 1;
    filter: brightness(1);
  }
  20%, 24%, 55% {
    opacity: 0.3;
    filter: brightness(1.4);
  }
}